@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f6f8;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard", Roboto, "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased; /* 폰트 부드럽게 */
}

/* 스크롤바 숨기기 (모바일 앱 느낌) */
::-webkit-scrollbar {
  display: none;
}
